<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.ria.mobile.testing.utils.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="riaAppium">
        <classes>
            <class name="com.ria.mobile.tests.GmailSendTest"/>
        </classes>
    </test>
</suite>